<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Create PDF Report</h2>
        <h3 class="oe_slogan">This module used to generate pdf report.</h3>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Usage</h2>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">1-Activate Developer Mode.</h2>


            <h4 class="oe_slogan">
                Setting->Activate the developer mode.
            </h4>

    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">2-Design Reports menuitem.</h2>


            <h4 class="oe_slogan">
                Setting->Design Reports.
                create your pdf report by choice report name, model name and your html tags.
            </h4>

        <div class="oe_span25">
            <img class="oe_picture oe_screenshot" src="menuitem.png"/>
        </div>

        <div class="oe_span25">
            <img class="oe_picture oe_screenshot" src="create_view.png"/>
        </div>

    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">3- Go to view of your model, you will find your report.</h2>

        <div class="oe_span25">
            <img class="oe_picture oe_screenshot" src="report_generation.png"/>
            <img class="oe_picture oe_screenshot" src="report1.png"/>
        </div>

    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">4- Ability to edit name and design of created report.</h2>
        <h4 class="oe_slogan">
        Setting->Design Reports->[Your Report]->Edit
        </h4>

        <div class="oe_span25">
            <img class="oe_picture oe_screenshot" src="edit_view.png"/>
            <img class="oe_picture oe_screenshot" src="edit_report.png"/>
            <img class="oe_picture oe_screenshot" src="report2.png"/>
        </div>

    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">5- Ability to delete your report.</h2>
        <h4 class="oe_slogan">
            You can delete your report from your model.
        </h4>
        <h4 class="oe_slogan">
            Setting->Design Reports->[Your Report]->Delete
        </h4>

        <div class="oe_span25">
            <img class="oe_picture oe_screenshot" src="delete_view.png"/>
            <img class="oe_picture oe_screenshot" src="delete_report.png"/>
        </div>

    </div>
</section>
